<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- /.navbar-header -->
    
    <ul class="nav navbar-top-links navbar-right">
      <li>Hi {{ headerInfo.username }}</li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li><a><i class="fa fa-user fa-fw"></i> User Profile</a>
          </li>
          <li><a><i class="fa fa-gear fa-fw"></i> Settings</a>
          </li>
          <li class="divider"></li>
          <li><a style="cursor:pointer;" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
          </li>
        </ul>
          <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
      <!-- /.navbar-top-links -->

      <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
              <ul class="nav" id="side-menu" ng-if="userType === 0">
                <li>
                  <a class="app_a" ui-sref="app.staffDashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                  <a class="app_a" ui-sref="app.staffCreateUser"><i class="fa fa-table fa-fw"></i> New Patient</a>
                </li>
              </ul>
              <ul class="nav" id="side-menu" ng-if="userType === 1">
                <li>
                  <a class="app_a" ui-sref="app.patient"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                  <a class="app_a" ui-sref="app.stream"><i class="fa fa-table fa-fw"></i>Stream Video</a>
                </li>
              </ul>
              <ul class="nav" id="side-menu" ng-if="userType === 2">
                <li>
                  <a class="app_a" ui-sref="app.adminDashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                  <a class="app_a" ui-sref="app.adminCreateUser"><i class="fa fa-table fa-fw"></i> New User</a>
                </li>
                <li>
                  <a class="app_a" ui-sref="app.adminPatientList"><i class="fa fa-edit fa-fw"></i> Patients</a>
                </li>
              </ul>
          </div>
          <!-- /.sidebar-collapse -->
      </div>
      <!-- /.navbar-static-side -->
  </nav>
  <div ui-view=""></div>
  <!-- /#page-wrapper -->
</div>