<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" style="background-image:url(../public/../public/assets/images/index_02.gif); background-repeat:repeat-x; background-position:top;"><table width="724" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top"><table width="724" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="64" align="left" valign="top"><img src="../public/assets/images/index_04.gif" width="170" height="64" alt="" /></td>
                <td width="660" align="left" valign="bottom" style="padding-left:2px;"><table width="539" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="89" align="center" valign="middle" class="menu"><a href="index.html">Home</a></td>
                      <td width="90" align="center" valign="middle" class="menu"><a href="content.html">About us</a></td>
                      <td width="90" align="center" valign="middle" class="menu"><a href="content.html">Service</a></td>
                      <td width="90" align="center" valign="middle" class="menu"><a href="content.html">Patients</a></td>
                      <td width="90" align="center" valign="middle" class="menu"><a href="content.html">Advice</a></td>
                      <td width="90" align="center" valign="middle" class="menu"><a href="contact.html">Contact us</a></td>
                    </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3%" align="left" valign="top" bgcolor="#FFFFFF" style="background-image:url(../public/../public/assets/images/index_19.gif); background-repeat:repeat-y; background-position:left;"><img src="../public/../public/assets/images/index_09.gif" width="24" height="10" alt="" /></td>
                <td width="30%" rowspan="2" align="left" valign="top"><img src="../public/../public/assets/images/index_10.gif" width="218" height="213" alt="" /></td>
                <td width="19%" rowspan="2" align="left" valign="top"><img src="../public/../public/assets/images/index_11.gif" width="136" height="213" alt="" /></td>
                <td width="44%" rowspan="2" align="left" valign="top"><table width="97%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" valign="top"><img src="../public/../public/assets/images/index_12.gif" width="316" height="53" alt="" /></td>
                    </tr>
                    <tr>
                      <td align="left" valign="top"><a href="index.html"><img src="../public/../public/assets/images/index_17.gif" alt="" width="316" height="58" border="0" /></a></td>
                    </tr>
                    <tr>
                      <td align="left" valign="top"><img src="../public/assets/images/index_18.gif" width="316" height="102" alt="" /></td>
                    </tr>
                </table></td>
                <td width="4%" align="left" valign="top" bgcolor="#FFFFFF" style="background-image:url(../public/assets/images/index_23.gif); background-repeat:repeat-y; background-position:right;"><img src="../public/assets/images/index_13.gif" width="30" height="10" alt="" /></td>
              </tr>
              <tr>
                <td align="left" valign="top" bgcolor="#FFFFFF" style="background-image:url(../public/assets/images/index_19.gif); background-repeat:repeat-y; background-position:left;">&nbsp;</td>
                <td width="4%" align="left" valign="top" bgcolor="#FFFFFF" style="background-image:url(../public/assets/images/index_21.gif); background-repeat:repeat-y; background-position:right;">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10" align="left" valign="top" style="background-image:url(../public/assets/images/index_19.gif); background-repeat:repeat-y; background-position:left;">&nbsp;</td>
                    <td align="left" valign="top" style="padding-top:30px; padding-bottom:6px;"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="68%" align="left" valign="top" style="padding-left:10px;"><table width="92%" border="0" align="left" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="left" valign="top"><table width="99%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td align="left" valign="top" style="padding-bottom:15px;"><img src="../public/assets/images/index_25.gif" width="260" height="28" alt="" /></td>
                              </tr>
                              <tr>
                                <td align="left" valign="top" class="body"><p><span style="color:#009604;"><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</strong></span> Nullam quis turpis eu libero varius vestibulum. In feugiat. Sed et turpis ac risus aliquet rhoncus. Nam cursusturpis eu libero varius vestibulum.<br />
                                  <br />
                                    <a href="content.html">read more</a></p>
                                  </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td align="left" valign="top"><table width="99%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td align="left" valign="top" style="padding-top:27px; padding-bottom:26px;"><img src="../public/assets/images/index_41.gif" width="141" height="21" alt="" /></td>
                              </tr>
                              <tr>
                                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td align="left" valign="top" style="padding-bottom:22px;"><table width="93%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td width="40%" align="left" valign="top"><img src="../public/assets/images/index_46.gif" width="64" height="48" alt="" /></td>
                                        <td width="60%" align="left" valign="top" class="body1"><a href="content.html">Lorem ipsum dolor</a> <br />
                                          sitamet,consectetuer adipiscingelit. Nullam</td>
                                      </tr>
                                    </table></td>
                                    <td align="left" valign="top"><table width="93%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td width="40%" align="left" valign="top"><img src="../public/assets/images/index_49.gif" width="64" height="48" alt="" /></td>
                                        <td width="60%" align="left" valign="top" class="body1"><a href="content.html">Lorem ipsum dolor</a><br />
                                          sitamet,consectetuer adipiscingelit. Nullam</td>
                                      </tr>
                                    </table></td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top"><table width="93%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td width="40%" align="left" valign="top"><img src="../public/assets/images/index_53.gif" width="64" height="48" alt="" /></td>
                                        <td width="60%" align="left" valign="top" class="body1"><a href="content.html">Lorem ipsum dolor</a> <br />
                                          sitamet,consectetuer adipiscingelit. Nullam</td>
                                      </tr>
                                    </table></td>
                                    <td align="left" valign="top"><table width="93%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td width="40%" align="left" valign="top"><img src="../public/assets/images/index_54.gif" width="64" height="48" alt="" /></td>
                                        <td width="60%" align="left" valign="top" class="body1"><a href="content.html">Lorem ipsum dolor</a> <br />
                                          sitamet,consectetuer adipiscingelit. Nullam</td>
                                      </tr>
                                    </table></td>
                                  </tr>
                                </table></td>
                              </tr>
                              <tr>
                                <td align="left" valign="top" style="padding-top:30px;"><img src="../public/assets/images/index_58.gif" width="313" height="44" alt="" /></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                        <td width="32%" align="left" valign="top"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="left" valign="top" style="padding-bottom:10px;"><a ui-sref="login" style="cursor:pointer;"><img src="../public/assets/images/login.jpg" alt="" width="207" height="97" border="0" /></a></td>
                          </tr>
                          <tr>
                            <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F7F7F9">
                              <tr>
                                <td width="10" height="10" align="left" valign="top"><img src="../public/assets/images/index_33.gif" width="10" height="10" alt="" /></td>
                                <td width="91%" align="left" valign="top">&nbsp;</td>
                                <td width="12" height="12" align="right" valign="top"><img src="../public/assets/images/index_35.gif" width="12" height="12" alt="" /></td>
                              </tr>
                              <tr>
                                <td align="left" valign="top">&nbsp;</td>
                                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td align="left" valign="top" style="padding-bottom:15px;"><img src="../public/assets/images/index_39.gif" width="180" height="22" alt="" /></td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top" class="body" style="padding-bottom:25px;"><span style="color:#009604;"><strong>10-JAN-2007</strong></span><br />
<br />
Quis turpis eu libero varius vestibulum. In feugiat. Sed et turpis ac risus aliquet rhoncus.<br />
<br />
<a href="content.html">read more</a></td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top" class="body"><span style="color:#009604;"><strong>10-MAR-2007</strong></span><br />
<br />
Quis turpis eu libero varius vestibulum. In feugiat. Sed et turpis ac risus aliquet rhoncus.<br />
<br />
<a href="content.html">read more</a></td>
                                  </tr>
                                </table></td>
                                <td align="left" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td width="12" height="12" align="left" valign="bottom"><img src="../public/assets/images/index_60.gif" width="12" height="12" alt="" /></td>
                                <td align="left" valign="top">&nbsp;</td>
                                <td width="12" height="12" align="right" valign="bottom"><img src="../public/assets/images/index_62.gif" width="12" height="12" alt="" /></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                    <td width="10" align="right" valign="top" style="background-image:url(../public/assets/images/index_23.gif); background-repeat:repeat-y; background-position:right;">&nbsp;</td>
                  </tr>

                </table></td>
              </tr>
              <tr>
                <td height="10" align="left" valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10" height="10" align="left" valign="bottom"><img src="../public/assets/images/index_66.gif" width="10" height="10" alt="" /></td>
                    <td width="704" align="left" valign="top" style="background-image:url(../public/assets/images/index_67.gif); background-repeat:repeat-x; background-position:bottom;"> </td>
                    <td width="10" height="10" align="right" valign="bottom"><img src="../public/assets/images/index_69.gif" width="10" height="10" alt="" /></td>
                  </tr>
                </table></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>

      <tr>
        <td align="left" valign="top"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="top" style="padding-top:20px; padding-bottom:13px;"><pre class="footer"><a href="index.html">Home</a>     |     <a href="content.html">About us</a>     |     <a href="content.html">Service</a>     |     <a href="content.html">Patients</a>     |     <a href="content.html">Advice</a>     |     <a href="contact.html">Contact us</a></pre></td>
          </tr>
          <tr>
            <td align="center" valign="top" class="copyright" style="padding-bottom:19px;">Copyright © 2003-2007 Company name.com. All rights reserved</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>