<h2>Login Form</h2>

<form name="loginForm">
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" ng-model="user.username" required>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" ng-model="user.password" required>
    <button type="submit" ng-click="login(user)" ng-disabled="loginForm.$invalid">Login</button>
    <span ng-if="errorMsg" class="error-msg">{{errorMsg}}</span></br>
    <input type="checkbox" checked="checked"> Remember me
  </div>
  <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
     <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
</form>