<div class="clearfix" style="padding:20px;"></div>
<form name="loginForm">
	<h3 ng-if="loginFlg" style="text-align:center;">Login</h3>
	<h3 ng-if="!loginFlg" style="text-align:center;">Fogot Password</h3>
  	<div class="col-md-4 col-xs-12 col-md-offset-4" id="login-div" ng-if="loginFlg">
	    <label><b>Username</b></label>
	    <input type="text" placeholder="Enter Username" name="uname" ng-model="user.username" required>
	    <label><b>Password</b></label>
	    <input type="password" placeholder="Enter Password" name="psw" ng-model="user.password" required>
	    <button type="submit" style="cursor:pointer;" ng-click="login(user)" ng-disabled="loginForm.$invalid">Login</button>
	    <span ng-if="errorMsg" class="error-msg">{{errorMsg}}</span></br>
	    <a style="cursor:pointer;text-decoration: none;" ui-sref="forgot">Forgot Password</a>
	</div>
	<div class="col-md-4 col-xs-12 col-md-offset-4" id="login-div" ng-if="!loginFlg">
	    <label><b>email</b></label>
	    <input type="text" placeholder="Enter Email" name="uname" ng-model="user.email" required>
	    <button type="submit" style="cursor:pointer;" ng-click="forgot(user)" ng-disabled="loginForm.$invalid">Submit</button>
	    <span ng-if="errMsg || SucMsg" ng-class="{'suc-msg' : SucMsg, 'err-msg' : errMsg}">{{errMsg || SucMsg}}</span></br>
	    <a style="cursor:pointer;text-decoration: none;" ui-sref="login">login</a>
  </div>
</form>