<div>
	<div class="modal-header">
	    <h3 style="align:center;" class="modal-title">{{modalInfo.heading}}</h3>
	</div>
	<div class="modal-body" ng-if="modalInfo.type === 'confirm'">
		{{modalInfo.msg}} {{ modalInfo.user.username}}?
	</div>
	<div class="modal-body" ng-if="modalInfo.type != 'confirm'">
		{{modalInfo.msg}}
	</div>
	<div class="modal-footer" ng-if="modalInfo.type != 'notification'">
	    <button class="btn btn-primary btn100" type="button" ng-click="ok(modalInfo)">Yes</button>
	    <button class="btn btn-warning btn100" type="button" ng-click="cancel()">No</button>
	</div>
</div>