<!-- <div class="fullscreen-bg">
    <video id="myVideo" autoplay="" controls style="width:50%" preload class="fullscreen-bg_video" poster="http://dummyimage.com/320x240/ffffff/fff">
        <source type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
</div> -->
<div>
	<video id="video" width="1000" height="800" controls hidden>
        <source type="video/mp4">
        Your browser does not support playing this Video
   	</video>
    <div>
        <canvas id="myCanvas" width="1450" height="755" />
    </div>
</div>    