<div id="page-wrapper" style="width:60%;">
	<table class="table" ng-if="!noUser">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>User Name</th>
	      <th>Email</th>
	      <th ng-if="patient">Camera</th>
	      <th ng-if="patient">Status</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody ng-repeat="user in users">
	    <tr>
	      <th scope="row">{{$index+1}}</th>
	      <td>{{user.username}}</td>
	      <td>{{user.email}}</td>
	      <td ng-if="patient">{{user.camera}}</td>
	      <td ng-if="patient">{{user.conn_flg ? 'loggedIn' : 'loggedOut' }}</td>
	      <td><button class="btn btn-success" style="width:100px; margin-top:0px !important;" ng-click="editUser(user)">Transfer</button></td>
	      <td><button class="btn btn-danger" style="width:100px; margin-top:0px !important;" ng-click="dltUser(user)">Discharge</button></td>
	    </tr>
	  </tbody>
	</table>
	<h5 ng-if="noUser">No User Found.Please Add.</h5>
</div>