<div id="page-wrapper">
  <h2 ng-if="newFlg">New User</h2>
  <h2 ng-if="!newFlg">Transfer Patient</h2>
  <form name="loginForm" class="userForm" novalidate>
    <div class="container" style="width: 400px;">
      <div><b>Username</b></div>
      <input type="text" placeholder="Enter Username" name="username" ng-model="user.username" ng-minlength="6" ng-pattern="/^[a-z]*$/" ng-trim="false" ng-disabled="!newFlg" focus="true"  required />
      <div class="warning" ng-if="newFlg">Only lowercase alphabets, No space allowed, Min. 6 characters</div>
      <div class="error" ng-if="submitted && loginForm.username.$invalid">Username is invalid</div>
      <div><b>Email</b></div>
      <input type="email" ng-disabled="!newFlg" placeholder="Enter Email" name="email" ng-model="user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-trim="false" required />
      <div class="error" ng-if="submitted && loginForm.email.$invalid">email is invalid</div>
      <div ng-if="userType === 2"><b>User Type</b></div>
      <select ng-if="userType === 2 && newFlg" name="type" ng-model="user.role" ng-options="user.id as user.name for user in users" ng-change="changeUser(user.role)" class="selectBox" required>
        <option value="">Choose a user</option>
      </select></br>
      <input type="text" ng-if="userType === 2 && !newFlg" value="Parent" />
      <span class="err-msg" ng-if="submitted && loginForm.type.$error.required">User type is required</span>
      <div ng-if="userType === 0 || user.role === 1"><b>Camera</b></div>
      <select ng-if="userType === 0 || user.role === 1"  ng-model="user.camera" class="selectBox" ng-options="camera as camera for camera in cameras">
        <option value="">No Camera</option>
      </select></br>
      <div class="btnMainDiv">
        <div class="btnSideDiv">
          <button type="submit" class="btn btn-primary btnTransfer" ng-click="register(user, newFlg, loginForm.$valid)">Save</button>
        </div>
        <div class="btnMidDiv">
          <button class="btn btn-warning btnTransfer" ng-click="cancel()">Reset</button>
        </div>
        <div class="btnSideDiv">
          <button class="btn btn-success btnTransfer" ng-click="backClick()">Back</button>
        <div>
      </div>
      <span ng-if="errorMsg" class="error-msg">{{errorMsg}}</span></br>
      <span ng-if="sucMsg" class="suc-msg">{{sucMsg}}</span></br>
    </div>
  </form>
</div>  