<div>
	<table class="table" style="margin-left: 250px;">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Username</th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody ng-repeat="user in users">
	    <tr>
	      <th scope="row">{{$index+1}}</th>
	      <td>{{user.username}}</td>
	      <td><button class="btn btn-success" style="width:100px;" ui-sref="admin.nurse({'id' :  nurse.id})">Edit</button></td>
	      <td><button class="btn btn-danger" style="width:100px;" ng-click="dltNurse(nurse.id)">Delete</button></td>
	    </tr>
	  </tbody>
	</table>
</div>